[submodule "scripts/evernote"]
	path = scripts/evernote
	url = git://github.com/evernote/evernote-sdk-python/
[submodule "scripts/toolbox"]
	path = scripts/toolbox
	url = https://github.com/ninjawil/toolbox.git
